apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: charts/myapp
    repoURL: https://github.com/shabaz7323/end-to-end-cicd-platform.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
